#This goes in /etc/systemd/system/SpeccyBot.service to make the bot run at boot

[Unit]
Description=Speccy Bot
After=network.target

[Service]
EnvironmentFile=/etc/Speccybot.cfg
ExecStart=/usr/bin/python3 -u /home/zxspectrum/bot/SpeccyBot.py
WorkingDirectory=/home/zxspectrum/bot/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=20
User=zxspectrum

[Install]
WantedBy=multi-user.target
